{% load staticfiles %}
<html>
   <head>
	<title> My first Django app </title>
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
   </head>
   <body>

	 <div class="page-header">
        <h1><a href="/">Hemanth krishna</a></h1>
    </div>
	<div class ="image">
	<img src="https://images.alphacoders.com/465/thumb-1920-465254.jpg" width="200px" height="200px" style="float:right"/>
	</div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
	
    </div>
   </body>	
</html>