<html>
   <head>
	<title> My first Django app </title>
   </head>
   <body>
	<div>
		<h1><a href=""></a></h1>
	</div>
	<div>
		<p>published 24.09.2017, 12:19 </p>
		<h2><a href="">My first Post</a></h2>
		<p>Dragon ballz is my all time favorite serial. I like Gohan very much in this serial.
		Thanks to the creators, It worked really well </p>

	</div>
	
	<div>
		<p> published 24.09.2017 12:24 </p>
		<h2> <a href=""> Python</a></h2>
		<p> Python is the most powerful language. but deployement is very difficult when compare to that one
	</p>

	</div>
   </body>	
</html>